{{var "title" "关于本站"}}
{{var "styles"
      [
          "/styles/font-awesome.min.css",
          "/styles/frame.css",
          "/styles/override.css",
          "/styles/mobile.css"
      ]
}}
{{var "scripts"
      [
          "/scripts/lib/jquery-3.2.1.min.js",
          "/scripts/app/frame.js"
      ]
}}

{{~> common/header ~}}
{{~> common/nav  ~}}

<div class="block-main">
    <div class="panel">
        <div class="panel-header">
            {{~> common/crumbs  ~}}
        </div>
        <div class="panel-content">
            <div class="introduction">
                <h2>关于本站</h2>
                <p>本站希望发展成为一个开放、活跃、健康的Rust社区，致力于 Rust 的技术研究与发展。</p>
                <p>本站完全兼容PC端和移动端，后端由 Rust 语言编写，<a href="https://github.com/yinyanlv/runner" rel="nofollow" target="_blank">本站源码地址</a>。</p>
                <p>目前该项目由本人维护，由于本人水平有限，因此，本站尚有许多不足之处，希望各位多提宝贵意见或者直接参与建设！</p>
                <p>本人非常愿意将本站交于社区，由社区推动其发展，使其发挥价值！</p>
                <p>本人联系方式：<a href="mailto:1761869346@qq.com">1761869346@qq.com</a>。</p>
            </div>
        </div>
    </div>
</div>

{{~> common/aside ~}}
{{~> common/footer ~}}