{{var "styles"
    [
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}

{{~> common/header ~}}

<section class="not-found">
    <div class="info">{{title}} <span>:(</span></div>
    <div class="btn-line"><a href="{{path}}">回到首页</a></div>
</section>

</body>
</html>