{{~> common/header ~}}

    <a href="/">首页</a>
    <form method="post" action="/login">
        <div><label>用户名：</label><input type="text" name="username" required /></div>
        <div><label>密码：</label><input type="password" name="password" autocomplete="off" required /></div>
        <button type="submit">登录</button>
    </form>

{{~> common/footer ~}}