{{~> common/header ~}}

    <form method="post" action="/login">
        <div><input type="text" name="username" required /></div>
        <div><input type="password" name="password" autocomplete="off" required /></div>
        <button type="submit">登录</button>
    </form>

{{~> common/footer ~}}