{{~> common/header ~}}

    <form method="post" action="/register">
        <div><input type="text" name="username" /></div>
        <div><input type="email" name="email" /></div>
        <div><input type="password" name="password" autocomplete="off" /></div>
        <button type="submit">注册</button>
    </form>

{{~> common/footer ~}}