{{~> common/header ~}}

    <form method="post" action="/register">
        <div><label>用户名：</label><input type="text" name="username" required /></div>
        <div><label>邮箱：</label><input type="email" name="email" required /></div>
        <div><label>密码：</label><input type="password" name="password" autocomplete="off" required /></div>
        <button type="submit">注册</button>
    </form>

{{~> common/footer ~}}