@import "./base/mixin";
@import "./base/extends";
@import "./base/reset";
@import "./base/config";

.article{
 width:100%;
}

.article-header{
 padding:1rem;
 font-size:1.2rem;
 background:  $panel-header-bg-color;
 border-bottom: .1rem solid $lighter-bd-color;

 .title{
  line-height: 2.6rem;
  margin:.8rem 0;

  h3 {
   font-size: 2rem;
   font-weight: 700;
   display: inline;
  }
 }

 .info{
  line-height: 1.8rem;
  color: $lightest-font-color;

  a{
   color: $ask-user-color;

   &:hover{
    text-decoration: underline;
   }
  }
 }

 .operator{
  overflow: hidden;

  & > div {
   float:right;
  }

  span {
   padding:0 0.4rem;
   color: $theme-color;
   line-height: 1.8rem;
   cursor: pointer;

   i{
    margin-right:.3rem;
   }
  }
 }
}

.article-content{
 padding:1rem;

}

.comment{
 padding:1rem;
 border-bottom:.1rem solid $lighter-bd-color;

 .avatar{
   width:3rem;
   height:3rem;
   @include borderRadius(.3rem);
   float:left;

   img {
    width:100%;
    height:100%;
    vertical-align: top;
    @include borderRadius(.3rem);
   }
 }

 .info{
  padding-left:4rem;

  dt {
   overflow: hidden;
   font-size:1.2rem;
   color:$theme-color;
   line-height: 1.8rem;

   .comment-info{
    float:left;
   }

   .operator{
    float:right;
   }

   .username{
    color:$lighter-font-color;
    font-weight: bold;
   }

   .btn{
    padding:0 0.4rem;
   }
  }

  dd{
   margin-top:.4rem;
  }
 }
}
