@import "./base/mixin";
@import "./base/extends";
@import "./base/reset";
@import "./base/config";

// editor
.editor-toolbar {
  font-size: 1.4rem;

  &:before, &:after {

    background: $bd-color;
  }

  .eicon-bold {
    margin-left: .8rem;
  }

  .eicon-fullscreen {
    margin-right: .8rem;
  }
}

.editor-preview {
  z-index: 80 !important;
  background:#eee;
}

.editor-statusbar {
  display: none;
}

.editor-preview {

  ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
  }

  abbr[title],
  abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999999;
  }

  abbr {
    font-size: 90%;
    text-transform: uppercase;
  }

  blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
  }

  blockquote p {
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
  }

  blockquote small {
    display: block;
    line-height: 20px;
    color: #999999;
  }

  blockquote small:before {
    content: '\2014 \00A0';
  }

  q:before,
  q:after,
  blockquote:before,
  blockquote:after {
    content: '';
  }

  address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
  }

  code,
  pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  pre code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }
}

// atwho
.atwho-view .cur{
  background: $theme-color !important;
}

// github markdown
.markdown-body {

  ul{
    list-style: disc;
  }

  ol{
    list-style: decimal;
  }
}