{{var "title" "此页面不存在"}}
{{var "styles"
    [
        "/styles/frame.css",
        "/styles/override.css",
        "/styles/mobile.css"
    ]
}}

{{~> common/header ~}}

    <section class="not-found">
        <div class="info">此页面不存在 <span>:(</span></div>
        <div class="btn-line"><a href="{{path}}">回到首页</a></div>
    </section>

</body>
</html>