<aside class="block-aside">

    <div class="panel friendly-link">
        <div class="panel-header">
            <h4>友情社区</h4>
        </div>
        <div class="panel-content">
            <ul class="info-list">
                <li>
                    <a href="https://ruby-china.org" rel="nofollow" target="_blank">
                        <img src="{{static_path}}/images/friendly/ruby.png">
                    </a>
                </li>
                <li>
                    <a href="https://cnodejs.org" rel="nofollow" target="_blank">
                        <img src="{{static_path}}/images/friendly/cnode.png">
                    </a>
                </li>
                <li>
                    <a href="https://gocn.io" rel="nofollow" target="_blank">
                        <img src="{{static_path}}/images/friendly/gocn.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel statistics-info">
        <div class="panel-header">
            <h4>统计信息</h4>
        </div>
        <div class="panel-content">
            <ul class="info-list">
                <li>社区会员: 3227 人</li>
                <li>帖子数: 34090 个</li>
                <li>回帖数: 330130 条</li>
            </ul>
        </div>
    </div>

</aside>