        </div>
    </section>

    <footer class="frame-footer">
        <div class="frame-wrapper">
            <div class="links">
                <a href="{{path}}/about-site">关于本站</a>
                <a href="https://github.com/yinyanlv/runner" target="_blank" rel="nofollow">本站源码地址</a>
                <a href="{{path}}/rss">RSS</a>
            </div>
            <div class="site-info">Rust 中文社区，致力于 Rust 的技术研究与发展。</div>
        </div>
    </footer>

    <div class="back-to-top" id="back-to-top">
        <span>回到顶部</span>
    </div>

    {{#each scripts}}
        <script type="text/javascript" src="{{../static_path}}{{this}}"></script>
    {{/each}}
</body>
</html>