    <script type="text/javascript" src="/static/scripts/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/scripts/app/uploader.js"></script>
    <script type="text/javascript" src="/static/scripts/lib/editor/editor.js"></script>

    </body>
</html>