<div class="pagination">
    <a class="first" href="#">«</a>
    <a class="ellipsis">...</a>
    <a href="#">3</a>
    <a href="#" class="disabled active">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a class="ellipsis">...</a>
    <a class="last" href="#">»</a>
</div>