$theme-color: #428bca;
$font-color: #333;
$lighter-font-color: #666;
$lightest-font-color: #999;
$bd-color: #ccc;
$lighter-bd-color:#f0f0f0;
$bg-color: #eee;
$panel-header-bg-color: #f6f6f6;
$topic-hover-bg-color: #f5f5f5;
$box-shadow-color: #ddd;
$pagination-btn-bd-color:#ddd;
