@import "./mixin";

body, div, ul, dl, ol, dt, dd, li, p, a, label, span, i, img, form, input, textarea, header, footer, article, section, nav, aside, figure, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, pre {
 padding: 0;
 margin: 0;
 border: 0;
 @include boxSizing(border-box);
}

ul, dl, ol {
 list-style: none;
}

header, footer, article, section, nav, aside, figure {
 display: block
}

input, textarea{

 @include placeholderColor(red);
}

input, textarea, a, button, select {
 outline: none;
}

input[type="button"], input[type="submit"], input[type="reset"], textarea, button {
 -webkit-appearance: none;
 @include borderRadius(0);
 border:0;
}

input:focus, textarea:focus, a:focus, button:focus{
 -webkit-tap-highlight-color: rgba(255,255,255,0);
}

input{

 &::-ms-clear {
  display: none;
 }

 &::-ms-reveal{
  display:none;
 }

 &::-webkit-search-cancel-button{
  display: none;
 }
}

a {
 text-decoration: none;
}

