.frame-header nav a, .panel .info-list.limit-text li, .dialog-wrapper .dialog-content .filename {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body, div, ul, dl, ol, dt, dd, li, p, a, label, span, i, img, form, input, textarea, header, footer, article, section, nav, aside, figure, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, pre {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, dl, ol {
  list-style: none;
}

header, footer, article, section, nav, aside, figure {
  display: block;
}

input input::-webkit-input-placeholder, textarea input::-webkit-input-placeholder {
  color: red !important;
  font-size: 12px;
}
input input::-moz-placeholder, textarea input::-moz-placeholder {
  color: red !important;
  font-size: 12px;
}
input input:-ms-input-placeholder, textarea input:-ms-input-placeholder {
  color: red !important;
  font-size: 12px;
}

input, textarea, a, button, select {
  outline: none;
}

input[type="button"], input[type="submit"], input[type="reset"], textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}

input:focus, textarea:focus, a:focus, button:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input::-webkit-search-cancel-button {
  display: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 10px;
}

body {
  -webkit-overflow-scrolling: touch;
  font-family: Helvetica, Arial, 'Microsoft Yahei', STHeiti, sans-serif;
  color: #333;
  font-size: 1.2rem;
  background: #e4e4e4;
}
body input {
  display: block;
  height: 3rem;
  border: 0.1rem solid #ccc;
  padding: .4rem .8rem;
  line-height: 2rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  color: #333;
  font-size: 1.4rem;
}
body input:focus, body textarea:focus {
  border-color: #1e90ff !important;
}

.btn, .icon {
  display: inline-block;
}

.btn {
  cursor: pointer;
}

.btn-primary {
  font-size: 1.4rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding: 0 1.8rem;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  background: #1e90ff;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  background: #0077ea;
}
.btn-primary.disabled {
  background: #ccc;
  cursor: default;
}
.btn-primary.disabled:hover {
  background: #ccc;
}

.mg-l-10 {
  margin-left: 1rem;
}

.frame-wrapper {
  width: 90%;
  min-width: 98rem;
  max-width: 150rem;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}
.frame-wrapper:after {
  content: '';
  width: 100%;
  display: block;
  clear: both;
}

.frame-header {
  height: 5rem;
  background: #fff;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0.1rem 0.1rem #ddd;
  -moz-box-shadow: 0 0.1rem 0.1rem #ddd;
  box-shadow: 0 0.1rem 0.1rem #ddd;
}
.frame-header nav {
  float: left;
  font-size: 0;
  padding-left: 1.5rem;
}
.frame-header nav a {
  max-width: 12rem;
  display: inline-block;
  height: 5rem;
  padding: 1.5rem 1.5rem 1.2rem;
  border-bottom: .3rem #fff solid;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #333;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.frame-header nav a:hover, .frame-header nav a.active {
  border-bottom-color: #1e90ff;
  color: #1e90ff;
}
.frame-header nav .icon-red-dot {
  position: relative;
  width: .6rem;
  height: .6rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: red;
  top: -1rem;
}

.header-left {
  float: left;
  height: 5rem;
}
.header-left .logo {
  float: left;
  display: inline-block;
  height: 4rem;
  padding: .5rem 0;
}
.header-left .logo img {
  height: 4rem;
}

.header-right {
  float: right;
  height: 5rem;
}
.header-right .search {
  float: left;
  height: 5rem;
  padding: 1rem 0 1rem 2rem;
  position: relative;
}
.header-right .search input {
  width: 20rem;
  font-size: 1.2rem;
  padding: .4rem 3rem .4rem .8rem;
}
.header-right .search .btn-search {
  position: absolute;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  right: 0;
  top: 1rem;
  z-index: 110;
  text-align: center;
  font-size: 1.8rem;
  color: #999;
}

.frame-content {
  padding: 6.5rem 0 0;
  width: 100%;
}
.frame-content .block-main {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.panel {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 0 0.3rem #ddd;
  -moz-box-shadow: 0 0 0.3rem #ddd;
  box-shadow: 0 0 0.3rem #ddd;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.panel .panel-header {
  min-height: 4rem;
  background: #f6f6f6;
}
.panel .panel-header h4, .panel .panel-header .title {
  display: block;
  margin: 0;
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.3rem;
  color: #333;
  font-weight: normal;
}
.panel .panel-header .tabs {
  padding: 0.5rem 1rem;
  min-height: 4rem;
  line-height: 3rem;
  font-size: 0;
}
.panel .panel-header .tabs a {
  line-height: 2.2rem;
  height: 2.2rem;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 .3rem;
  color: #1e90ff;
  background: transparent;
  border-radius: .3rem;
  padding: 0 .5rem;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.panel .panel-header .tabs a.active, .panel .panel-header .tabs a:hover {
  background: #1e90ff;
  color: #fff;
}
.panel .info-list li {
  border-bottom: 0.1rem solid #f0f0f0;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.panel .info-list li:last-child {
  border-bottom: 0;
}
.panel .info-list a {
  color: #333;
}
.panel .info-list a:hover {
  text-decoration: underline;
}
.panel .info-list img {
  vertical-align: top;
  width: 13rem;
}
.panel .info-list.limit-text li {
  height: 4.1rem;
  width: 29rem;
}
.panel .tag {
  background: #1e90ff;
  font-size: 1.2rem;
  padding: .2rem .4rem;
  vertical-align: top;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  color: #fff;
}
.panel .tag-category {
  color: #999;
  background: #eee;
}
.panel .panel-footer .btn-line {
  padding: 1rem;
  font-size: 1.4rem;
}
.panel .panel-footer .btn-line a {
  color: #1e90ff;
  text-decoration: underline;
}

.topic {
  padding: 1rem;
  border-bottom: 0.1rem solid #f0f0f0;
}
.topic a:hover {
  text-decoration: underline;
}
.topic .avatar {
  display: inline-block;
  height: 4.4rem;
  width: 4.4rem;
  float: left;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.topic .avatar a {
  float: left;
}
.topic .avatar img {
  float: left;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.topic .info {
  padding-left: 5.4rem;
}
.topic dt {
  line-height: 2.1rem;
  font-size: 1.5rem;
  padding: .2rem 0;
}
.topic dt a {
  color: #333;
}
.topic dd {
  font-size: 1.2rem;
  padding-top: .3rem;
  color: #999;
  line-height: 1.6rem;
  overflow: hidden;
}
.topic dd .left {
  float: left;
}
.topic dd .item a, .topic dd .item span {
  margin-right: .2rem;
  color: #999;
}
.topic dd .item a {
  color: #ff4500;
}
.topic dd .item i {
  font-style: normal;
}
.topic dd .item .reply-count {
  color: #20b2aa;
}
.topic dd .item .view-count {
  color: #999;
}
.topic dd .right {
  float: right;
}
.topic dd .right a {
  color: #ff4500;
}
.topic dd .right a img {
  display: inline-block;
  vertical-align: top;
  height: 1.6rem;
  width: 1.6rem;
  margin: 0 .2rem;
  position: relative;
  top: -.1rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.topic:hover {
  background: #f5f5f5;
}

.pagination {
  padding: 1rem;
  font-size: 0;
  overflow: hidden;
}
.pagination a {
  display: inline-block;
  font-size: 1.2rem;
  float: left;
  height: 3rem;
  border: 0.1rem solid #ddd;
  padding: 0 1.2rem;
  line-height: 2.8rem;
  border-right: 0;
  color: #666;
}
.pagination a.active {
  background: #1e90ff;
  color: #fff;
}
.pagination a.active:hover {
  background: #1e90ff;
}
.pagination a:hover {
  background: #eee;
}
.pagination a.ellipsis {
  padding: 0 1rem;
}
.pagination a.first {
  -webkit-border-top-left-radius: .4rem;
  border-top-left-radius: .4rem;
  -webkit-border-bottom-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}
.pagination a.last {
  border-right: 0.1rem solid #ddd;
  -webkit-border-top-right-radius: .4rem;
  border-top-right-radius: .4rem;
  -webkit-border-bottom-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.block-aside {
  display: table-cell;
  width: 30.5rem;
  padding-left: 1.5rem;
  vertical-align: top;
}

.friendly-link .info-list li {
  text-align: center;
}

.user-card {
  padding: 1rem;
}
.user-card .avatar {
  float: left;
  width: 4.8rem;
  height: 4.8rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.user-card .avatar img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.user-card .username-box {
  padding-left: 5.8rem;
  line-height: 4.8rem;
}
.user-card .username-box .username {
  font-size: 1.6rem;
  color: #666;
}
.user-card .username-box .username:hover {
  text-decoration: none;
}
.user-card .signature {
  color: #666;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 1rem 0 0;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 0;
  top: 60%;
  width: 2.8rem;
  color: gray;
  cursor: pointer;
  text-align: center;
  z-index: 20;
  line-height: 2rem;
  background-color: #fff;
  padding: 1.2rem 0 1.2rem .5rem;
  border-radius: 1.2rem 0 0 1.2rem;
  -webkit-box-shadow: 0 0 0.3rem #ddd;
  -moz-box-shadow: 0 0 0.3rem #ddd;
  box-shadow: 0 0 0.3rem #ddd;
}
.back-to-top span {
  display: inline-block;
  width: 1.6rem;
}

.crumbs {
  padding: 1rem;
  color: #999;
  font-size: 0;
  line-height: 2rem;
}
.crumbs a {
  font-size: 1.4rem;
  color: #1e90ff;
}
.crumbs a:hover {
  text-decoration: underline;
}
.crumbs .divider {
  font-size: 1.4rem;
  padding: 0 .5rem;
}
.crumbs .current {
  font-size: 1.4rem;
}

.editor-wrapper {
  padding: 1rem;
}
.editor-wrapper .editor-wrapper-inner {
  border: 0.1rem solid #ccc;
  border-top: 0;
  width: 100%;
  height: 30rem;
  font-size: 1.4rem;
  position: relative;
}
.editor-wrapper .editor-wrapper-inner > textarea {
  width: 100%;
  height: 100%;
}
.editor-wrapper .editor-wrapper-inner .CodeMirror {
  height: 25.4rem;
}
.editor-wrapper .editor-wrapper-inner.edit-article {
  height: 60rem;
}
.editor-wrapper .editor-wrapper-inner.edit-article .CodeMirror {
  height: 55.4rem;
}
.editor-wrapper .btn-line {
  padding: 1rem 0 0;
}

.create-topic {
  padding: 1rem;
}
.create-topic .category-line {
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.4rem;
}
.create-topic .title-line {
  padding: 1rem;
  line-height: 3rem;
  font-size: 1.4rem;
}
.create-topic .title-line label {
  float: left;
}
.create-topic .title-line .input-wrapper {
  padding-left: 5rem;
}
.create-topic .title-line input {
  width: 100%;
}
.create-topic .btn-line {
  padding: 0 1rem 1rem;
}

.introduction {
  padding: 1rem;
}
.introduction h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  padding: .5rem 0;
  border-bottom: 0.1rem solid #f0f0f0;
  margin: 1rem 0;
}
.introduction h3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: .5rem 0;
  border-bottom: 0.1rem solid #f0f0f0;
  margin: 1rem 0;
}
.introduction p {
  line-height: 2rem;
  font-size: 1.4rem;
  padding: 1rem 0;
}
.introduction a {
  color: #1e90ff;
}
.introduction a:hover {
  text-decoration: underline;
}

.frame-form {
  padding: 4rem 1rem 5rem;
}
.frame-form .required {
  color: red;
  margin-right: .3rem;
}
.frame-form .input-line {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
}
.frame-form .input-line label {
  display: block;
  float: left;
  width: 16rem;
  height: 3rem;
  line-height: 3rem;
  text-align: right;
}
.frame-form .input-line .input-wrapper {
  padding: 0 0 0 17.5rem;
  position: static;
}
.frame-form .input-line input {
  width: 28rem;
}
.frame-form .input-line input.error {
  border: 0.1rem solid red !important;
}
.frame-form .help-line {
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  overflow: hidden;
}
.frame-form .help-line .help-wrapper {
  padding: 0 0 0 17.5rem;
  width: 45.5rem;
  color: #666;
}
.frame-form .help-line .help-wrapper a {
  float: right;
  color: #1e90ff;
}
.frame-form .help-line .help-wrapper a:hover {
  text-decoration: underline;
}
.frame-form .error-line {
  width: 100%;
  padding: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  display: none;
}
.frame-form .error-line .error-wrapper {
  padding: 0 0 0 17.5rem;
  color: red;
}
.frame-form .error-line .error-wrapper i {
  font-size: 1.4rem;
  margin-right: .3rem;
}
.frame-form .btn-line {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
}
.frame-form .btn-line .btn-wrapper {
  padding: 0 0 0 17.5rem;
  font-size: 0;
}
.frame-form .btn-line .btn-wrapper .btn {
  font-size: 1.4rem;
  margin: 0 1rem 1rem 0;
}

.message-list .message {
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  border-bottom: 0.1rem solid #f0f0f0;
}
.message-list .message a {
  color: #1e90ff;
}
.message-list .message a:hover {
  text-decoration: underline;
}

.user-info-wrapper {
  padding: 1rem;
}
.user-info-wrapper .user-info {
  font-size: 1.4rem;
  color: #333;
}
.user-info-wrapper .user-info .avatar {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  float: left;
}
.user-info-wrapper .user-info .avatar img {
  vertical-align: top;
  width: 10rem;
  height: 10rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
}
.user-info-wrapper .user-info ul {
  padding-left: 11rem;
}
.user-info-wrapper .user-info li {
  line-height: 2rem;
  margin: .8rem;
  overflow: hidden;
}
.user-info-wrapper .user-info li .label {
  color: #999;
  display: inline-block;
  text-align: right;
  width: 9rem;
  float: left;
}
.user-info-wrapper .user-info li .text {
  padding-left: 10rem;
}
.user-info-wrapper .user-info li .icon-wrapper {
  font-size: 1.8rem;
  display: inline-block;
  width: 2.4rem;
  text-align: center;
  color: #999;
}
.user-info-wrapper .user-info li a {
  color: #1e90ff;
}
.user-info-wrapper .user-info li a:hover {
  text-decoration: underline;
}
.user-info-wrapper .user-info li .btn-line {
  font-size: 0;
  margin: .5rem 0 1rem;
}
.user-info-wrapper .user-info li .btn-primary {
  font-size: 1.4rem;
  margin-right: 1rem;
  color: #fff;
  margin-top: 1rem;
}
.user-info-wrapper .user-info li .btn-primary:hover {
  text-decoration: none;
}

.frame-footer {
  width: 100%;
  padding: 1.5rem 0;
  background: #fff;
  -webkit-box-shadow: 0 -0.1rem 0.1rem #ddd;
  -moz-box-shadow: 0 -0.1rem 0.1rem #ddd;
  box-shadow: 0 -0.1rem 0.1rem #ddd;
}
.frame-footer .links {
  width: 100%;
  font-size: 0;
  padding: .4rem 0;
}
.frame-footer .links a {
  padding: 0 .5rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #333;
  border-left: 0.1rem solid #ccc;
}
.frame-footer .links a:hover {
  color: #1e90ff;
  text-decoration: underline;
}
.frame-footer .links a:first-child {
  border-left: 0;
  padding-left: 0;
}
.frame-footer .site-info {
  color: #999;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.no-data {
  width: 100%;
  height: 12rem;
  line-height: 12rem;
  text-align: center;
  color: #999;
  font-size: 1.4rem;
}

.not-found {
  position: absolute;
  width: 100%;
  top: 30%;
}
.not-found .info {
  text-align: center;
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 6rem;
  color: #666;
}
.not-found .info span {
  color: #999;
}
.not-found .btn-line {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
.not-found .btn-line a {
  color: #1e90ff;
}
.not-found .btn-line a:hover {
  text-decoration: underline;
}

.dialog-bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.dialog-wrapper {
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;
  width: 30rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.dialog-wrapper .dialog-header {
  padding: 0 0 0 1rem;
  font-size: 1.4rem;
  height: 3.7rem;
  line-height: 3.6rem;
  border-bottom: 0.1rem solid #1e90ff;
}
.dialog-wrapper .dialog-header span {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  color: #999;
  float: right;
  font-size: 1.8rem;
}
.dialog-wrapper .dialog-header span:hover {
  color: #1e90ff;
}
.dialog-wrapper .dialog-content {
  padding: 1rem;
}
.dialog-wrapper .dialog-content input[type=file] {
  display: none;
}
.dialog-wrapper .dialog-content .btn-line {
  font-size: 0;
  padding: 0 0 1rem;
}
.dialog-wrapper .dialog-content .btn-line .btn {
  margin-right: 1rem;
}
.dialog-wrapper .dialog-content .file-list {
  padding: 0 0 1rem;
  color: #666;
  max-height: 25rem;
  overflow-y: auto;
}
.dialog-wrapper .dialog-content .file {
  width: 100%;
  height: 3.1rem;
  padding: 0 0 0 1rem;
  border-bottom: 0.1rem dotted #ccc;
  position: relative;
}
.dialog-wrapper .dialog-content .file:first-child {
  border-top: 0.1rem dotted #ccc;
}
.dialog-wrapper .dialog-content .filename {
  width: 100%;
  padding-right: 4rem;
  height: 3rem;
  line-height: 3rem;
}
.dialog-wrapper .dialog-content .btn-delete-file {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 1.8rem;
}
.dialog-wrapper .dialog-content .btn-delete-file:hover {
  color: #1e90ff;
}

.article {
  width: 100%;
}

.article-header {
  padding: 1rem;
  font-size: 1.2rem;
  background: #f6f6f6;
  border-bottom: 0.1rem solid #f0f0f0;
}
.article-header .title {
  line-height: 2.6rem;
  margin: .8rem 0;
}
.article-header .title h3 {
  font-size: 2rem;
  font-weight: 700;
  display: inline;
}
.article-header .info {
  line-height: 1.8rem;
  color: #999;
}
.article-header .info a {
  color: #ff4500;
}
.article-header .info a:hover {
  text-decoration: underline;
}
.article-header .operator {
  overflow: hidden;
  margin-top: .5rem;
}
.article-header .operator > div {
  float: right;
}
.article-header .operator span {
  padding: 0 0.4rem;
  color: #1e90ff;
  line-height: 1.8rem;
  cursor: pointer;
}
.article-header .operator span .fa {
  margin-right: .3rem;
}
.article-header .operator span .text {
  padding: 0;
}
.article-header .operator span .num {
  padding: 0 .1rem;
}

.article-content {
  padding: 1rem;
}

.comment {
  padding: 1rem;
  border-bottom: 0.1rem solid #f0f0f0;
}
.comment.highlight {
  background: #e4f1ff;
}
.comment .avatar {
  width: 3rem;
  height: 3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  float: left;
}
.comment .avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.comment .info {
  padding-left: 4rem;
}
.comment .info dt {
  overflow: hidden;
  font-size: 1.2rem;
  color: #1e90ff;
  line-height: 1.8rem;
}
.comment .info dt .comment-info {
  float: left;
}
.comment .info dt .operator {
  float: right;
}
.comment .info dt .username {
  color: #666;
  font-weight: bold;
}
.comment .info dt .btn {
  color: #1e90ff;
  padding: 0 0.4rem;
}
.comment .info dt .num {
  padding: 0 0.1rem;
}
.comment .info dd {
  margin-top: .6rem;
}
.comment .info dd.editor-wrapper-box {
  display: none;
}
.comment .editor-wrapper {
  padding: 1rem 0 0;
}

/*# sourceMappingURL=frame.css.map */
