body, div, ul, dl, ol, dt, dd, li, p, a, label, span, i, img, form, input, textarea, header, footer, article, section, nav, aside, figure, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, pre {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, dl, ol {
  list-style: none;
}

header, footer, article, section, nav, aside, figure {
  display: block;
}

input input::-webkit-input-placeholder, textarea input::-webkit-input-placeholder {
  color: red !important;
  font-size: 12px;
}
input input::-moz-placeholder, textarea input::-moz-placeholder {
  color: red !important;
  font-size: 12px;
}
input input:-ms-input-placeholder, textarea input:-ms-input-placeholder {
  color: red !important;
  font-size: 12px;
}

input, textarea, a, button, select {
  outline: none;
}

input[type="button"], input[type="submit"], input[type="reset"], textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
}

input:focus, textarea:focus, a:focus, button:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input::-webkit-search-cancel-button {
  display: none;
}

a {
  text-decoration: none;
}

.editor-toolbar {
  font-size: 1.4rem;
}
.editor-toolbar:before, .editor-toolbar:after {
  background: #ccc;
}
.editor-toolbar .eicon-bold {
  margin-left: .8rem;
}
.editor-toolbar .eicon-fullscreen {
  margin-right: .8rem;
}

.editor-preview {
  z-index: 80 !important;
  background: #eee;
}

.editor-statusbar {
  display: none;
}

.editor-preview ul, .editor-preview ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.editor-preview ul {
  list-style: disc;
}
.editor-preview ol {
  list-style: decimal;
}
.editor-preview hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
.editor-preview abbr[title],
.editor-preview abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
.editor-preview abbr {
  font-size: 90%;
  text-transform: uppercase;
}
.editor-preview blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
.editor-preview blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
.editor-preview blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
.editor-preview blockquote small:before {
  content: '\2014 \00A0';
}
.editor-preview q:before,
.editor-preview q:after,
.editor-preview blockquote:before,
.editor-preview blockquote:after {
  content: '';
}
.editor-preview address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
.editor-preview code,
.editor-preview pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.editor-preview code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.editor-preview pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.editor-preview pre code {
  padding: 0;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.atwho-view .cur {
  background: #1e90ff !important;
}

/*# sourceMappingURL=override.css.map */
